.text{
    text-align: center;
    background-color: rgb(46, 239, 239);
}
.bg{
    text-align: center;
    background-color: rgb(120, 209, 31);
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}